{% extends 'base.html' %}
{% load static %}
{% block content %}
	<h2>Users</h2>
	<div class="user-container">
		{% for user_form in user_form_list %}
			<form method="post">
				{% csrf_token %}
				<p>
					<button type="submit" name="submit_user_delete" value="{{ user_form.prefix }}">✖</button>
				</p>
				{{ user_form.as_p }}
				<p>
					<button type="submit" name="submit_user_update" value="{{ user_form.prefix }}">💾</button>
				</p>
			</form>
		{% endfor %}
	</div>
{% endblock content %}
