{% extends "base.html" %}
{% load static %}
{% block title %}Creator{% endblock title %}

{% block main %}
<main>
<div class="container">
    <form action="{% url 'creator' %}" method="post">
        {% csrf_token %}
        <input type="email" name="email" placeholder="Email">
        <button type="submit">Create Creator</button>
    </form>
<table>
    <thread>
        <tr>Email</tr>
    </thread>
    <tbody>
        {% for creator  in creators %}
        <tr>
            <td>{{ creator.email }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
</main>
{% endblock main %}